<div class="container">
  <h1 class="display-1">URL Shortener</h1>
  <img
    src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt=""
  />
  <h1 class="display-4">Success! Please use this link:</h1>
  <a
    href="{{originalURL}}"
    id="urlCreated"
  >http://localhost:3000/{{shortURL}}</a>
  <button
    onclick="copy()"
    type="submit"
    class="btn btn-primary btn-lg mt-4"
  >Copy</button>
</div>
<script>
  function copy() { const copyText = document.querySelector("#urlCreated");
  navigator.clipboard.writeText(copyText.textContent); alert("URL copied"); }
</script>